body {
    font-family: sans-serif;
    display: flex;
    width: 100%;
    
  }
  
.hidden {
    display: none;
}
 
img {
  width: 100%;
  height: 100vh;
}
#box {
  width: 100%;
  height: 100vh;
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  padding-left: 50px;
  
  
}

#date ,#clock{
  color: white;
  font-size: 40px;
  font-weight: 800;
  padding: 5px 0px;
}
#date {
  margin-top: 50px;
}

#login-form{
  margin-top: 70px;
}

#login-form input {
  align-items: center;
  padding-left: 20px;
  color: white;
  font-size: 20px;
  width: 200px;
  height: 60px;
  border: 0;
  border-bottom: 2px solid white;
  outline: none;
  background-color:rgba(0,0,0,0);
  margin-bottom: 5px;

}
#login-form input::placeholder {
  color:white;
  font-size: 20px;

}

button {
  border: 0;
  outline: 0;
  background-color: rgba(0,0,0,0);

}
#login-form button {
  width: 80px;
  height: 40px;
  border: 0;
  border-radius: 10px;
  outline: none;
  background-color: #ffc0cb;
}

button:active {
  opacity: 0.9;
}

#todo-form input {
  padding-left: 65px;
  color: white;
  font-size: 20px;
  width: 350px;
  height: 60px;
  border: 0;
  border-bottom: 2px solid white;

  outline: none;
  background-color:rgba(0,0,0,0);
}
#todo-form input::placeholder {
  color:white;
  font-size: 20px;
}
#todo-list {
  margin-top: 30px;
}
#todo-list button {
  font-size: 30px;
}
#todo-list li span {
margin-left: 10px;
}

#todo-list li {
  align-items: center;
  display: flex;
  width: 250px;
  justify-content: space-between;
  font-size: 20px;
  background-color:rgba(0,0,0,0.5);
  border-radius: 30px;
  color: white;
  padding:5px 5px;
  margin:5px 0px;
}

#quote span{
 font-size: 20px;
 color: white;
 font-weight: 200;
}
#quote {
  display: flex;
  width: 800px;
  align-items: center;
  justify-content: space-between;
}

#quote span:last-child{
  font-weight: 500;
 }
#weather {
  display: flex;
  width: 300px;
  height: 40px;
  background-color: rgba(0,0,0,0.3);
  border-radius: 10px;
  align-items: center;
  justify-content: space-between;
}

#weather span{
color: white;
font-size: 20px;

}
#weather span:first-child{
  padding-left: 10px; 
}
#weather span:last-child{
  padding-right: 10px;
}